.results {
	display: flex;
	text-align: center;
	height: 600px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.block-result {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		width: 550px;
		height: 370px;
		background-color: rgb(153, 196, 248);
	}
}
