.results {
	display: flex;
	text-align: center;
	height: 600px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://media2.giphy.com/media/xUUZwcuhpkM3S/200w.webp?cid=ecf05e47n59k5tlr1bd0f5web5fi8j9x47465x6ivx1irieq&rid=200w.webp&ct=g);
	.block-result {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		width: 550px;
		height: 370px;
		background-color: rgb(153, 196, 248);
	}
}
