
.title{
		background-image: url(https://media1.giphy.com/media/KFVo4ZurzPqKUIcXlu/200w.webp?cid=ecf05e47xo6rnnf7m5amrgy7zaj4vql25igpmc4187t3m6uc&rid=200w.webp&ct=g)
	}
h3 {
	font-size: 6em;
	line-height: 0.7;
	position: relative;
}
h1:after {
	content: attr(data-content);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-text-stroke: 1px #fff;
}
h1:before {
	content: attr(data-content);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-text-stroke: 3px #463f60;
}

table {
	border-spacing: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	th {
		padding: 10px 20px;
		background: #f1b6a3;
		color: #2b2b2b;
		border-right: 2px solid;
		font-size: 0.9em;
	}
	th:first-child {
		text-align: left;
	}
	th:last-child {
		border-right: none;
	}
	td {
		vertical-align: middle;
		padding: 10px;
		font-size: 14px;
		text-align: center;
		border-top: 2px solid #111111;
		border-bottom: 2px solid #070707;
		border-right: 2px solid #0c0c0c;
	}
	td:first-child {
		border-left: 2px solid #0c0c0c;
		border-right: none;
	}
	td:nth-child(2) {
		text-align: left;
	}
	
}
