.calculator {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.block {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		width: 800px;
		height: 400px;
		background-color: rgb(215, 231, 250);
		.switch {
			display: flex;
			align-items: center;
			margin-left: 11%;
			.check {
				width: 25px;
				height: 25px;
				margin: 4px;
			}
		}
	}
	.data {
		display: flex;
		section {
			display: flex;
			flex-direction: column;
			label {
				margin-top: 30px;
				margin-right: 55px;
			}
		}
	}
	.btns {
		margin-top: 60px;
	}
}
