.input {
	width: 250px; 
	margin-top: 25px;
}
.calculator {
	height: 710px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url("./img/three.jpg");
	background-size: cover;
}
.block {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 600px;
}
.switch {
	display: flex;
	align-items: center;
	margin-left: 11%;
}
.check {
	display: flex;
	margin-left: 5px;
	margin-right: 20px;
	width: 25px;
	height: 25px;
}

.data {
	display: flex;
	section {
		display: flex;
		flex-direction: column;
		label {
			margin-top: 30px;
			margin-right: 55px;
		}
	}
}
.btns {
	margin-top: 60px;
}


@media (max-width: 540px) {
	.Calculator{
		width: 100%;
		height: 100%;
	}
	.calculator {
		height: 1010px;
		display: flex;
		text-align: center;
		align-items: center;
		margin-top: -140px;
		padding-top: 140px;
		margin-left: -230px;
		padding-left: 230px;
		background-size: cover;
		background-repeat: no-repeat;
	}
    .block{
		    width: 300px;
			margin-left: 20px;
			margin-right: 20px;
    }
	.input {
		width: 160px;
	}
  }
